*{
    margin: 0px;
    padding: 0px;
}
.market-container:before{
    height: 100vh;
    content: "";
    background-image: url('../Css/images/background.jpg');
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    
}
.market-container{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10%;
    height: 100vh;
}
.market-vegetable{
    padding-top: 10px;
    justify-content: space-between;
    height: 150px;
    width: 200px;
    background-color: #ffca99;
    position: relative;
    margin: 10px;
    border-radius: 10%;
}
.market-gridContainer{
    margin-top: -40px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.market-nameContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.market-price{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.market-input {
    width: 30px;
    height: 10px; 
  border: 1px solid #ccc; 
  padding: 10px;    
    border-radius: 5px;
  }
.market-priceInput{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.market-submitBtn{
    background-color: orange;
  border: none;              
  color: white;             
  padding: 10px 20px;        
  font-size: 16px;           
  cursor: pointer;           
border-radius: 5px;       
  text-align: center;       
  text-decoration: none;    
  display: inline-block;  
  width: 100%;
}
.market-submitBtn:hover {
    background-color: #ffca99; /* Background color on hover */
  }
  .market-btnClass{
    position: relative;
    
  }